{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-alert": 0,
    "semi": ["error", "always"],
    "quotes": [2, "single"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": ["*.json"],
      "rules": {
        "quotes": [2, "double"],
        "semi": [0, "always"]
      }
    }
  ],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"]
}
