
<IfModule mod_headers.c>
    SetEnvIfNoCase Query_String "\.(gif|jpg|jpeg|png)$" isImage=1
    Header always set Access-Control-Allow-Origin "*" env=isImage
</IfModule>

<IfModule mod_rewrite.c> 
  Options -MultiViews
  RewriteEngine on 
  RewriteBase /

  #Rewrite everything to https
  RewriteCond %{HTTPS} !=on
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteRule maptiles(.*)\.(gif|jpg|jpeg|png)$ - [NC,END]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [QSA,L]

  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization},L]
</IfModule>
